@model TulsiPF2.Models.User
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>

<h3>Login</h3>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Login </title>

</head>
<body>
    <div id="login=div">
        @using (Html.BeginForm("Index", "User", FormMethod.Post))

        {
        <table style="list-style-type:circle">
            <tr>
                <td style="text-decoration:underline"></td>
                <td></td>
            </tr>

            <tr>
                <td style="richness:80">@Html.LabelFor(model => model.UserName)</td>
                <td>&ensp;&ensp;&ensp;</td>
                <td>@Html.EditorFor(model => model.UserName) </td>
                <td>&ensp;&ensp;&ensp;</td>
                <td style="flood-color:brown">@Html.ValidationMessageFor(model => model.UserName)</td>
            </tr>
 
            <tr>
                <td style="richness:80">@Html.LabelFor(model => model.UserPassword)</td>
                <td>&ensp;&ensp;&ensp;</td>
                <td>@Html.EditorFor(model => model.UserPassword) </td>
                <td>&ensp;&ensp;&ensp;</td>
                <td style="flood-color:brown">@Html.ValidationMessageFor(model => model.UserPassword)</td>
            </tr>
            <tr> <td>&ensp;</td></tr>
                   
            <tr>
                <td>&ensp;&ensp;</td>
                <td>&ensp;&ensp;</td>
                <td>
                    <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage) </label>
                </td>
            </tr>

            <tr> <td>&ensp;</td></tr>


            <tr>
                <td colspan="2"></td>
                <td>
                    <input type="submit" name="name" value="Login" />
                    <input type="reset" name="name" value="Clear" />
                </td>
            </tr>

        </table>
        }
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>


</html>