
@model IEnumerable<TulsiPF2.Models.Member>

@{
    ViewBag.Title = "Listing of Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(source: Model, canPage: true, canSort: true, rowsPerPage: 10, defaultSort: null);

}

<table class="table" align="center">
    <tr>
        <td> <h3>Members Detail </h3></td>
        <td>
           @{
                if (@Session["IsAdmin"] != null)
                {
                    <h3 style="font-size:medium">@Html.ActionLink("Go Back", "MemActivities", "Home") </h3>
                }
                else
                {
                    <h3 style="font-size:medium">@Html.ActionLink("Go Back", "MemListing", "Home") </h3>
                }
            }
        </td>
    </tr>
</table>


<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<h4><b>(Click on column to Sort) </b> </h4>

<div style="width:100%" class="table table-bordered">

    @grid.GetHtml(
        tableStyle: "table table-responsive table-bordered gridtable",
        headerStyle: "gridtable-header",
        alternatingRowStyle: "gridtable-alt",
        columns: new[]
        {
        grid.Column("MemberId", "Id "),
        grid.Column("FirstName" , "First Name"),
        grid.Column("LastName" , "Last Name"),
        grid.Column("Phone" , "Phone"),
        grid.Column("Email" , "Email"),
        grid.Column("MemberSince" , "MemberSince"),
        grid.Column("AddLine1" , "AddLine1"),
        grid.Column("Addline2" , "AddLine2"),
        grid.Column("City" , "City"),
        grid.Column("State" , "State"),
        grid.Column("Zip" , "Zip"),
        grid.Column("SexTab.SexDesc", "Sex")
        })
</div>


<table class="table" align="center">
    <tr>
        <td>
            @{

                if (@Session["IsAdmin"] != null)
                {
                    <h4 style="font-size:medium">@Html.ActionLink("Go Back", "MemActivities", "Home") </h4>
                }
                else
                {
                    <h4 style="font-size:medium">@Html.ActionLink("Go Back", "MemListing", "Home") </h4>
                }

            }
        </td>
    </tr>
</table>




