@model IEnumerable<Member>
@using TulsiPF2.Models;
@{
    ViewBag.Title = "Member Profile and Details Listing";
}


@if (Model != null)
{
    <table>
        <tr>
            <th>Mem-Id</th>
            <th>FName </th>
            <th>LName </th>
            <th>Profile </th>

        </tr>

        <tbody>
            @foreach (Member Members in @Model)
            {
                <tr>
                    <td>@Members.MemberId  </td>
                    <td>@Members.FirstName  </td>
                    <td>@Members.LastName  </td>
                    <td>
                        <style>
                            .editor-multiline-field {
                                width: 150px;
                                height: 100px;
                            }
                        </style>
                        <div class="editor-multiline-field">  @Members.Profile  </div>
                    </td>
                    <td>
                        <ul>
                            @if (Members.FirstName == null || Members.FirstName == "")
                            {
                                <li> Null Name </li>
                            }
                            else
                            {
                                <li>@Html.ActionLink(Members.FirstName, "DisplayImage", "MemberList", new { memid = Members.MemberId }, null); </li>
                            }
                        </ul>
                    </td>

                </tr>
            }
        </tbody>

    </table>
}
