<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application </title>

    <link rel="shortcut icon" href="~/ImageLogo/favicon.ico" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <Table style="width:100%">
                    <tr>
                        <td>
                            <img src="~/ImageLogo/Tulsijpg.jpg" />
                        </td>
                        <td>
                            &nbsp; &nbsp
                        </td>
                        <td>
                            @Html.ActionLink(" Tulsi Foundation India", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </td>
                    </tr>
                </Table>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li>@Html.ActionLink("ABOUT US", "About", "Home")</li>
                    <li>@Html.ActionLink("OUR INITIATIVES", "Initiatives", "Home")</li>
                    <li>@Html.ActionLink("PARTNER WITH US", "Initiatives", "Home")</li>
                    <li>@Html.ActionLink("LOGIN", "Index", "User")</li>
                    <li><span style="padding-left:200px"></span>   </li>
                    <li>@Html.ActionLink("LOGOUT", "LogOut", "User") </li>
                </ul>               
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  Soch Badlo, Desh Badlega</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
