@model IEnumerable<TulsiPF2.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Add Members Details</h2>


<table class="table" align="center">
    <tr>
        <td> <h4> @Html.ActionLink("Create New", "Create")  </h4>  </td>
        <td> <h4 style="font-size:medium">@Html.ActionLink("Go Back", "MemActivities", "Home") </h4></td>
    </tr>
</table>


<table class="table table-bordered">
    <tr style="background-color:cadetblue">
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberSince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SexTab.SexDesc)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberSince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexTab.SexDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MemberId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MemberId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MemberId })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Go Back", "MemActivities", "Home");