@model IEnumerable<TulsiPF2.Models.ImageTab>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table" align="center">
    <tr>
        <td> <h3> Member Image List</h3></td>
        <td> <h4 style="font-size:medium">@Html.ActionLink("Go Back", "MemActivities", "Home") </h4> </td>
    </tr>
</table>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.ImageTitle)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Member.FirstName)
            </td>
            <td>
                <div>
                    @if (item.ImagePath != null)
                    {
                        <img style="width:150px; height:150px" src="@Url.Content(item.ImagePath)" />
                    }
                </div>
            </td>

            <td style="vertical-align:middle">
                @Html.ActionLink("Delete", "Delete", new { id = item.ImageId })
            </td>
        </tr>
    }

</table>

<h4 style="font-size:medium">@Html.ActionLink("Go Back", "MemActivities", "Home") </h4>