@model IEnumerable<TulsiPF2.Models.DonationTab>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add/Update/Delete Donation for a Member</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@




<table class="table" align="center">
    <tr>
        <td> <h4> @Html.ActionLink("Create New", "Create")  </h4>  </td>
        <td> <h4 style="font-size:medium">@Html.ActionLink("Go Back", "MemActivities", "Home") </h4></td>
    </tr>
</table>



<table class="table table-bordered">
    <tr style="background-color:cadetblue">
        <th>
            @Html.DisplayNameFor(model => model.Donation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonationDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Donation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DonationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DonationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DonationId })
            </td>
        </tr>

    }

</table>
@Html.ActionLink("Go Back", "MemActivities", "Home");
